
# node.js
#
npm-debug.log
yarn-error.log
yarn-lock.json
package-lock.json
yarn.lock

node_modules
.yarn/

templates/CliTemplate/android/app/build
templates/CliTemplate/ios/build
templates/ExpoTemplate/.env.production
templates/ExpoTemplate/.env.staging
templates/ExpoTemplate/.env.development
templates/CliTemplate/.env.development
templates/CliTemplate/.env.production
templates/CliTemplate/.env.staging
