.github

!.env
media/
.yarn/

# 

# node.js
#
npm-debug.log
yarn-error.log
yarn-lock.json
package-lock.json
node_modules/
.husky/
templates/CliTemplate/android/app/build
templates/CliTemplate/ios/build
documentation/
.yarn/
templates/ExpoTemplate/
