.DS_Store
build/
.idea
.gradle
local.properties
.idea
.github
*.iml
documentation
npm-debug.log
yarn-error.log
node_modules
document
MIBoilerplate/node_modules
MIBoilerplate/ios/Pods
MIBoilerplate/android/app/build
MIBoilerplate/android/.gradle
MIBoilerplate/android/.idea
MIBoilerplate/.buckconfig
MIBoilerplate/.flowconfig
MIBoilerplate/.gitattributes
MIBoilerplate/.gitignore
MIBoilerplate/.watchmanconfig

