.features {
  display: flex;
  align-items: center;
  padding: 100px 0px 100px 0px;
  width: 100%;
  flex-direction: column;
  background-color: #111111;
}

.glass_effect {
  /* background: rgba(255, 255, 255, 0.08);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border: 1px solid rgba(255, 255, 255, 0.3); */
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.section_title {
  @apply font-semibold
  text-[2.75rem]
  text-[#EDEDED];
}

.grid_view {
  @apply grid sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-4 xl:grid-cols-4 2xl:grid-cols-4 sm:gap-2 md:gap-2 lg:gap-10 xl:gap-10 2xl:gap-10;
}
