/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 0rem 0;
  /* text-align: center; */
  /* position: relative; */
  overflow: hidden;
  background: url("../../../static/img/home_hero_bg.png");
  background-size: cover;
  /* background-position: top -9vw left 0vw; */
  /* height: calc(100vh - 235px); */
  height: 80vh;
  background-repeat: no-repeat;
  /* display: inline-block; */
}

.container_layout {
  margin-top: 0px;
}

.subtitle {
  font-size: 1.5rem;
}

.header_text {
  font-size: 3rem;
}
.header_img {
  /* height: 80vh;
  object-fit: contain; */
  @apply h-[40vh] object-contain   sm:h-[40vh] md:h-[45vh] lg:h-[90vh] xl:h-[90vh] 2xl:h-[90vh];
}

.header_img_container {
  @apply h-[90vh] relative;
}

.header_img_wrapper {
  /* @apply right-16 top-0 bg-green-700 absolute z-10 w-fit; */
  @apply text-center   
  relative 
  sm:text-center 
  sm:relative  
  md:relative 
  md:text-center 
  lg:right-16 
  lg:top-[-4rem]  
  lg:absolute 
  lg:z-10 
  lg:w-fit
  xl:right-16 
  xl:top-[-4rem]  
  xl:absolute 
  xl:z-10 
  xl:w-fit
  2xl:right-16 
  2xl:top-[-4rem]  
  2xl:absolute 
  2xl:z-10 
  2xl:w-fit;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 0rem;
    /* background-position: top 0vw left 0vw; */
    height: 80vh;
  }
  .subtitle {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  .container_layout {
    margin-top: 0px;
  }
  .header_text {
    font-size: 2.6rem;
    margin-bottom: 10px;
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  .heroBanner {
    padding: 0rem;
    height: 80vh;
    /* background-position: top 10vw left 0vw; */
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
  .heroBanner {
    padding: 0rem;
    height: 80vh;
    /* background-position: top 10vw left 0vw; */
  }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
  .heroBanner {
    padding: 0rem;
    height: 80vh;
    /* background-position: top 0vw left 0vw; */
  }
}

/* Media Query for Large screens */
@media (max-width: 1581px) {
  .heroBanner {
    padding: 0rem;
    height: 80vh;
    /* background-position: top 0vw left 0vw; */
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: start;
}
